@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300&family=Oswald:wght@200;500&display=swap");
.home-page {
  padding: 50px 0;
}
.home-page h1 {
  font-size: clamp(40px, 10vw, 100px);
}
.home-page h2 {
  font-size: clamp(20px, 8vw, 100px);
  margin-top: 5px;
  color: grey;
  line-height: 0.9;
}
.home-page p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200px;
  margin: 40px 0px 0px;
  max-width: 540px;
}
@media only screen and (max-width: 1200px) {
  .home-page p {
    margin: 20px 0px 0px;
  }
}
@media only screen and (max-width: 600px) {
  .home-page p {
    font-size: 18px;
    line-height: 22px;
    max-width: 100%;
  }
}
