@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300&family=Oswald:wght@200;500&display=swap");
.intro {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #0a192f;
  transition: 0.8s;
}
.intro .intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
}
.intro .intro-logo img {
  width: 100%;
  height: auto;
}
.intro .intro-logo p {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
