@import "./variables.scss";

.projects-page {
  h2 {
    margin-bottom: 30px;
  }
  padding: 180px 0;

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .tile {
      margin-bottom: 4%;
      border: 1px solid $yellow;

      h2 {
        color: $yellow;
        padding: 15px 15px 0;
      }
      p {
        padding: 0 15px;
        color: $white;
      }
      background: $transparent;
      width: 30%;
      height: 250px;
      @include bp("tablet") {
        width: 100%;
      }
    }
  }
}
